

<section id="Player"> 
        <div class="col-md-3" id="sidebar">
                <div class="list-group card text-center text-md-left" style="background-color: #fff">
                    <a href="#menu1" class="list-group-item" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                    <span style="color: black">Our Courses</span> 
                    </a>
        
                    <ul class="collapse" id="menu1">
                            <a href="#" class="list-group-item" data-parent="#menu1sub1" style="color: black">SSC-CGL</a>
                            <a href="#" class="list-group-item" data-parent="#menu1sub1">BANK</a>
                            <a href="#" class="list-group-item" data-parent="#menu1sub1">P.O.</a>
                            <a href="#" class="list-group-item" data-parent="#menu1sub1">Railway</a>
                    </ul>

                    <a href="#menu2" class="list-group-item" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                            <span style="color: black">Our Services</span> </a>
                        <ul class="collapse" id="menu2">
                                <a href="#" class="list-group-item" data-parent="#menu2sub1">Video Lectures</a>
                                <a href="#" class="list-group-item" data-parent="#menu2sub1">Mock Tests</a>
                                <a href="#" class="list-group-item" data-parent="#menu2sub1">Exam Portal</a>
                                <a href="#" class="list-group-item" data-parent="#menu2sub1">Mentorship Program</a>
                        </ul>

                        <a href="#menu3" class="list-group-item" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                                <span style="color: black">Our Instructors</span> </a>
                            <ul class="collapse" id="menu3">
                                    <a href="#" class="list-group-item" data-parent="#menu3sub1">Nikhil Chinappa Sir</a>
                                    <a href="#" class="list-group-item" data-parent="#menu3sub2">Rahul Shaw Sir</a>
                                    <a href="#" class="list-group-item" data-parent="#menu3sub3">Akhilesh Misra Sir</a>
                                    <a href="#" class="list-group-item" data-parent="#menu3sub4">Ahishek Sharama Sir</a>
                            </ul>
                        
                            <a href="#menu4" class="list-group-item" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                                    <span style="color: black">Q & A</span> </a>
                                <ul class="collapse" id="menu4">
                                        <a href="#" class="list-group-item" data-parent="#menu4sub1">Ask your Queries Here</a>
                                </ul>

                                <a href="#menu5" class="list-group-item" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                                        <span style="color: black">Need Guidance?</span> </a>
                                    <ul class="collapse" id="menu5">
                                            <a href="#" class="list-group-item" data-parent="#menu5sub1">Follow These Instructions</a>
                                    </ul>

                                    <a href="#menu6" class="list-group-item" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                                            <span style="color: black">Need Help?</span> </a>
                                        <ul class="collapse" id="menu6">
                                                <a href="#" class="list-group-item" data-parent="#menu6sub1">Call Us</a>
                                                <a href="#" class="list-group-item" data-parent="#menu6sub2">E-mail Us</a>   
                                        </ul>    

                                        <a href="#menu7" class="list-group-item" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                                                <span style="color: black">About Us</span> </a>
                                            <ul class="collapse" id="menu7">
                                                    <a href="#" class="list-group-item" data-parent="#menu7sub1">Contact Details</a>
                                                    <a href="#" class="list-group-item" data-parent="#menu7sub2">Our Team</a>
                                            </ul>    
                </div>
        </div>
    <div class="col-md-5" id="videoPlayer">      
        <vg-player class="">
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
            </video>
        </vg-player>
        <div class="mt-3 card">
                <div class="card-header">
                        <b>Maths मंथन by SHUBH Sir | Algebra |अब CGL/CPO दूर नहीं </b>
                </div>
                <div class="card-body">
                    <div class="media">
                            <div class=" col-md-4 media-left media-top">
                              <img  src="../assets/img/22.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
                            </div>
                            <div class="mt-5 text-info media-body">
                                 <h4 class="media-heading">SSC-CGL MATHS</h4>
                                 <p> Begineer To Expert</p>
                                 <small class="text-muted">Shubham Chaurasiya</small><br>
                                 <small class="text-muted">6,50,898 views</small>
                                 <button class="mt-5 pt-2 float-right btn-lg mt-4 btn-primary">Enroll Now</button>
                            </div>
                     </div>
                </div>
        </div>
        <div class="mt-3 card">
            <div class="card-header">
                <h1>About This Cousre</h1>
                <h4> SSC-CGL MATHS By SHUBH SIR- Crack SSC-CGL in 3 months</h4>
            </div> 
            <div class="card-body">
                    <div class="row">
                        <div class="mt-3 col-xs-3"><h4><b>By the numbers</b></h4></div>
                        <div class="col-xs-4"><h5><b>Skill level: All Levels <br>
                            Students: 56932<br>
                            Languages: English<br>
                            Captions: Yes</b></h5>
                        </div>
                        <div class="col-xs-4"><h5><b>Skill level: All Levels <br>
                            Lectures: 246<br>
                            Video: 32.5 hours</b></h5>
                        </div>                 
                    </div><hr>
                    <div class="row">   
                            <div class="mt-3 col-xs-3"><h4><b>Features</b></h4></div>
                            <div class="mt-3 col-xs-4"><h5><b>Access To All Videos</b></h5>
                            </div>                 
                    </div><hr> 
                    <div class="row">
                            <div class="mt-3 col-xs-3"><h4><b>Description</b></h4></div>
                            <div class="mt-3 col-xs-9"><h5><b>COURSE UPDATED 2017 – 36 New Lectures!</b></h5>
                                    <h6>Added two brand new sections covering AngularJS, and WordPress Plugin Development.</h6>
                                    <h5><b>Are you looking for an all-in-one Web Design, Web Development and Career Building course that takes you step-by-step through the all of the skills you need know to start a working professionally?</b></h5>
                                    <h6>Are you a programmer looking to improve your design skills, so your designer colleagues can stop making fun of your bad designs? Or maybe you're a designer looking to learn how to code, so your programmer colleagues can stop laughing at your sad coding attempts.
                                    Have you wasted hours of your time or money watching terrible video tutorials that make you fall asleep at your desk?</h6>
                                    <h5><b>Stop wasting your time & money!</b></h5> 
                                    <h6>his is the ultimate, most comprehensive, A to Z web design, development and career building course on the market. I promise and I guarantee that to be true.
                                    Here is my guarantee to you: If within 30 days you complete this course and you haven't experienced impressive results, you can't design or build modern websites, or you can't get a paying web design or development gig — I will give you 100% of your money back.</h6>
                            </div>                 
                    </div><hr>
                    <div class="mt-3 col-xs-3"><h4><b>Instructor</b></h4>
                    </div>
                    <div class="col-xs-9">
                                    <div class="media">
                                            <div class=" col-md-4 media-left media-top">
                                              <img  src="../assets/img/33.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
                                            </div>
                                            <div class="mt-5 media-body">
                                                 <h4 class="media-heading">SHUBHAM CHAURASIYA</h4>
                                                 <p> SSC-CGL Expert</p>
                                            </div>
                                     </div><br>
                                     <div>
                                        <p><b>A highly skilled professional, Shubham Chaurasiya is a passionate and experienced freelancing web designer, developer, blogger and digital entrepreneur. Hailing from North Of The Wall (Yellowknife, Canada), Shubham made the trek to the Wet Coast (Vancouver, Canada) to educate and equip himself with the necessary skills to become a spearhead in his trade of solving problems on the web, crafting design solutions, and speaking in code. 

                                        Shubham's determination and love for what he does has landed him in some pretty interesting places with some neat people. He's had the privilege of working with, and providing solutions for, numerous businesses, big & small, across the Americas. 
                                
                                        Shubham builds custom websites, and provides design solutions for a wide-array of clientele at his company, Brightside Studios. He regularly blogs about passive income, living your life to the fullest, and provides premium quality web design tutorials and courses for tens of thousands of amazing people desiring to master the craft. 
                            
                                        351,000+ Students Don't Lie 
                                
                                        Join Shubham and adventure into his world of web design, web development, and speaking in code. You won't regret it!
                                        </b></p>
                                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="mt-3 card">
            <div class="text-center card-header">
                    <b>SSC-CGL MATHS By SHUBH SIR </b>
            </div>
            <div class="card-body">
                <div class="media">
                        <div class=" col-md-4 media-left media-top">
                          <img  src="../assets/img/22.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
                        </div>
                        <div class="mt-5 text-info media-body">
                             <h4 class="media-heading">SSC-CGL MATHS</h4>
                             <p> Begineer To Expert</p>
                             <small class="text-muted">Shubham Chaurasiya</small><br>
                             <small class="text-muted">6,50,898 views</small>
                             <button class="mt-5 pt-2 float-right btn-lg mt-4 btn-primary">Enroll Now</button>
                        </div>
                 </div>
            </div>
            <div class=" card-footer">
               <p class="float-right text-danger" id="substext" > <b>  Enrolled Students- 20k  </b></p>      
            </div>
    </div>
    <div class="bg-light col-md-4">
            <b>More Videos By SHUBH SIR</b>
            <div class="mt-4 media">
					<div class=" col-md-4 media-left media-top">
					  <img  src="../assets/img/22.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
					</div>
					<div class="text-info media-body">
                         <h4 class="media-heading">SSC-CGL MATHS</h4>
                         <p> Begineer To Expert</p>
                         <small class="text-muted">Shubham Chaurasiya</small><br>
                         <small class="text-muted">6,50,898 views</small>
                    </div>
                    <div> 
                        <button class="btn-lg mt-4 btn-primary">Watch Now</button>
                    </div>
            </div>
            <div class="media">
					<div class="col-md-4 media-left media-top">
					  <img  src="../assets/img/22.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
					</div>
					<div class="text-info media-body">
                         <h4 class="media-heading">SSC-CGL MATHS</h4>
                         <p> Begineer To Expert</p>
                         <small class="text-muted">Shubham Chaurasiya</small><br>
                         <small class="text-muted">7,50,898 views</small>
                    </div>
                    <div> 
                        <button class="btn-lg mt-4 btn-primary">Watch Now</button>
                    </div>
            </div>
            <div class="media">
					<div class="col-md-4 media-left media-top">
					  <img  src="../assets/img/22.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
					</div>
					<div class="text-info media-body">
                         <h4 class="media-heading">SSC-CGL MATHS</h4>
                         <p> Begineer To Expert</p>
                         <small class="text-muted">Shubham Chaurasiya</small><br>
                         <small class="text-muted">5,50,898 views</small>
                    </div>
                    <div> 
                        <button class="btn-lg mt-4 btn-primary">Watch Now</button>
                    </div>
            </div>
            
            <div class="media">
					<div class="col-md-4 media-left media-top">
					  <img  src="../assets/img/33.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
					</div>
					<div class="text-info media-body">
                         <h4 class="media-heading">SSC-CGL MATHS</h4>
                         <p> Begineer To Expert  </p>
                         <small class="text-muted">Shubham Chaurasiya</small><br>
                         <small class="text-muted">4,50,898 views</small>
                    </div>
                    <div> 
                        <button class="btn-lg mt-4 btn-primary">Watch Now</button>
                    </div>
            </div>
            <div class="media">
					<div class="col-md-4 media-left media-top">
					  <img  src="../assets/img/22.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
					</div>
					<div class="text-info media-body">
                         <h4 class="media-heading">SSC-CGL MATHS</h4>
                         <p> Begineer To Expert</p>
                         <small class="text-muted">Shubham Chaurasiya</small><br>
                         <small class="text-muted">17,50,898 views</small>
                    </div>
                    <div> 
                        <button class="btn-lg mt-4 btn-primary">Watch Now</button>
                    </div>
            </div>
            <div class="media">
					<div class="col-md-4 media-left media-top">
					  <img  src="../assets/img/33.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
					</div>
					<div class="text-info media-body">
                         <h4 class="media-heading">SSC-CGL MATHS</h4>
                         <p> Begineer To Expert </p>
                         <small class="text-muted">Shubham Chaurasiya</small><br>
                         <small class="text-muted">27,50,898 views</small>
                    </div>
                    <div> 
                        <button class="btn-lg mt-4 btn-primary">Watch Now</button>
                    </div>
            </div>
            <div class="media">
					<div class="col-md-4 media-left media-top">
					  <img  src="../assets/img/44.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
					</div>
					<div class="text-info media-body">
                         <h4 class="media-heading">SSC-CGL MATHS</h4>
                         <p> Begineer To Expert</p>
                         <small class="text-muted">Shubham Chaurasiya</small><br>
                         <small class="text-muted">47,50,898 views</small>
                    </div>
                    <div> 
                        <button class="btn-lg mt-4 btn-primary">Watch Now</button>
                    </div>
            </div>
            <div class="media">
					<div class="col-md-4 media-left media-top">
					  <img  src="../assets/img/22.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
					</div>
					<div class="text-info media-body">
                         <h4 class="media-heading">SSC-CGL MATHS</h4>
                         <p> Begineer To Expert</p>
                         <small class="text-muted">Shubham Chaurasiya</small><br>
                         <small class="text-muted">47,50,898 views</small>
                    </div>
                    <div> 
                        <button class="btn-lg mt-4 btn-primary">Watch Now</button>
                    </div>
            </div>
            <div class="media">
					<div class="col-md-4 media-left media-top">
					  <img  src="../assets/img/33.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
					</div>
					<div class="text-info media-body">
                         <h4 class="media-heading">SSC-CGL MATHS</h4>
                         <p> Begineer To Expert</p>
                         <small class="text-muted">Shubham Chaurasiya</small><br>
                         <small class="text-muted">47,50,898 views</small>
                    </div>
                    <div> 
                        <button class="btn-lg mt-4 btn-primary">Watch Now</button>
                    </div>
            </div>
         
            <div class="media">
					<div class="col-md-4 media-left media-top">
					  <img  src="../assets/img/44.jpg" class="rounded media-object" style="width:100%; border-radius: 50%">
					</div>
					<div class="text-info media-body">
                         <h4 class="media-heading">SSC-CGL MATHS</h4>
                         <p> Begineer To Expert</p>
                         <small class="text-muted"><b>Shubham Chaurasiya</b></small><br>
                         <small class="text-muted"><b>5,50,898 views</b></small>
                    </div>
                    <div> 
                        <button class="btn-lg mt-4 btn-primary">Watch Now</button>
                    </div>
            </div> 			
    </div>
</section>

<section>
    <div class="bg-primary card  col-md-12">
        <footer class="col-md-12 ">
         <div class=" card-body media">
            <div class="col-md-4 media-left media-top">
                <img  src="../assets/img/teach_footer_kpr_icon.ico" class="rounded media-object" style="width:200px;height: 180px;">
                </div>
            <div class="mt-5 text-left media-body">
                <div class="mt-5 media-heading"><h1>Join Our online Online Courses Now</h1>
                <h5 class="muted-text"> Become Expert And Get Placed.</h5>
                </div>
            </div>
            <div> 
                <button id="footer-btn" class="btn-lg btn-success">Explore Our Courses Now</button>
            </div>
        </div>     
        </footer>
    </div>
</section>                 